@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Submission";
}

@model MovieCollection.Models.Movies

<div class="text-center">
    <h1 class="display-4">Thank you for your submission!</h1>
    @if (Model.Title != "Independence Day")
    {
        <h4>@Model.Title has been added to the list.</h4>
    }
    else
    {
        <h4>Sadly, @Model.Title cannot be added to the list as it was improperly assigned the "Most American Movie Ever Made" over Rocky IV. This is unacceptable.</h4>
    }
    <p>Check out the list of movies <a asp-action="MovieList">here</a>!</p>
    <h6><a asp-action="AddMovie">Add Another Movie</a></h6>
</div>